<% title "Adicionar cliente" %>

<div id="col3">
  <div id="col3_content" class="clearfix">
      <%= render :partial => 'form' %>
  </div>
  <!-- IE Column Clearing -->
  <div id="ie_clearing"> &#160; </div>
</div>

