  <li>
    <div class="input-block-25">
      <strong>Descrição:</strong><br />
      <%=h @caso.descricao %>
    </div>
    <div class="input-block-25">
      <strong>Público-alvo:</strong><br />
      <%=h @caso.publico_alvo %>
    </div>
    <div class="input-block-25">
      <strong>Forma de pagamento:</strong><br />
      <%=h @caso.forma_pagamento %>
    </div>
    <div class="input-block-25">
      <strong>Horário de atendimento:</strong><br />
      <%=h @caso.horario_atendimento %>
    </div>
  </li>

