<% title "Adicionar fotos" %>

<div id="col3">
  <div id="col3_content" class="clearfix">
    <div class="float_right clearfix">
      <%= link_to "Cancelar", admin_estabelecimentos_path %>
    </div><br />
      <%= render :partial => 'form' %>
  </div>
  <!-- IE Column Clearing -->
  <div id="ie_clearing"> &#160; </div>
</div>

