
  <div id="adminNav">
    <div class="hlist">
      <ul>
        <li><%= link_to "Início", admin_url %></li>
        <li><%= link_to "Estabelecimentos", admin_estabelecimentos_url %></li>
        <li><%= link_to "Clientes", admin_clientes_url %></li>
        <li><%= link_to "Usuários", admin_users_url %></li>
      </ul>
    </div>
  </div>

